{# This is an example of a block template. In a production site you will #}
{# want to provide your own block templates in lib/modules/apostrophe-blocks/templates #}

{# This inline style tag is just for the example, you should declare your #}
{# styles in a less file #}
<style type="text/css">
  .left, .right {
    float: left;
    width: 48%;
    margin: 0 1% 0 1%;
  }
</style>

<div class="left">
  {{ aposArea(page, prefix + 'left') }}
</div>
<div class="right">
  {{ aposArea(page, prefix + 'right') }}
</div>
{# I'm just a backend programmer. I bet you can avoid this clumsy way of clearing #}
<div style="clear: left"></div>
