// --------- REDUNDANT APOS-UI STYLES -------------------------- //

@apos-base: #dd3226;

@apos-lighten-10: lighten(@apos-base, 8%);

@apos-shade-5: darken(@apos-base, 3%);
@apos-shade-10: darken(@apos-base, 10%);

.transition(@props)
{
  -moz-transition: @props;
  -webkit-transition: @props;
  -ms-transition: @props;
  -o-transition: @props;
  transition: @props;
}

/* GREYS */


/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
// THIS IS A PATCH!!!!!
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
.apos-ui-dropdown-container(@arrow) {

  position:absolute !important;
  min-width: 150px; //Does this seem sensible?
  min-height: 100%;
  .apos-bg-gradient(@apos-grey5, @apos-grey);
  background-size: 100% 100%;
  overflow: visible !important;
  -webkit-border-radius: 3px;
          border-radius: 3px;

  & when (@arrow = 'before') {
    &:before
    {
      display: block;
      content: '';
      position: absolute;
      border:10px solid transparent;
      border-bottom: 10px solid @apos-grey5;
      top: -20px;
      left: 15px;
    }
  }

  & when (@arrow = 'after') {
    &:after
    {
      content: "";
      border: transparent 10px solid ;
      border-top: @apos-grey 10px solid;
      position:absolute;
      bottom: -20px;
      left: 15px;
      display: block;
    }
  }

}

.apos-ui-dropdown-item(){
  background: transparent !important;
  color: @apos-grey-blue !important;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  width: 100%;
  margin-right: 0px;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  line-height: 2;
  border-bottom: 1px solid @apos-grey10;
  &:hover
  {
    color: #fff !important;
    background: @apos-grey-10 !important;
    text-shadow: none;
  }
  &:first-child
  {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  &:last-child
  {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: none;
  }
  i
  {
    font-size: 16px;
    line-height: 15px;
    margin-right: 2px;
  }
}


.apos-transition(@property, @time, @ease)
{
  -webkit-transition: @property @time @ease;
  -moz-transition: @property @time @ease;
  transition: @property @time @ease;
}

.apos-bg-gradient(@from, @to) {
  background-color: @from;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@from), to(@to));
  background: -webkit-linear-gradient(top, @from, @to);
  background: -moz-linear-gradient(top, @from, @to);
  background: -ms-linear-gradient(top, @from, @to);
  background-size: 100% 100px;
}

.apos-ui
{
  text-transform: uppercase;
  font-family: 'Cabin';
  letter-spacing: 0.25em;
  font-size: 11px;
  font-weight: bold;
}

.apos-singleton .apos-ui-container
{
  position: absolute;
  z-index: 800;
}
.apos-ui-container
{
  position: relative;
  min-width: 45px;
  display: inline-block;
  background: rgba(255,255,255,0.25);
  padding: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
          box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

  &:empty
  {
    display: none;
  }

  &.left, &.right, &.center
  {
    position: absolute;
    z-index: 899;
  }
  &.left
  {
    top: 8px;
    left: 8px;
  }

  &.right
  {
    right: 8px;
    top: 8px;
  }

  &.center
  {
    top: 50%;
    margin-top: -16px;
  }
}
.apos-ui-container .apos-ui-btn,
.apos-ui-container .apos-button
{
  .apos-ui;
  color: white;
  display: inline-block;
  min-width: 36px;
  line-height: 14px;

  margin-right: 0px;

  text-shadow: 0.2em 0.1em rgba(0,0,0,0.2);
  padding: 0.65em 1em;

  text-align: center;
  cursor: pointer;

  .apos-bg-gradient(@apos-base, @apos-lighten-10);

  border: 1px solid @apos-shade-5;
  border-radius: 3px;
  -webkit-border-radius: 3px;


  &:hover
  {
    .apos-bg-gradient(@apos-shade-5, @apos-base);
  }

  &:active,
  &.apos-active
  {
    .apos-bg-gradient(@apos-shade-10, @apos-base);
  }
}

.apos-item-actions
{
  opacity: 0;
  .apos-transition(opacity, 0.1s, linear);
}

// --- DROPDOWN ----------------------//
.apos-block-menu-options
{
  position:relative;
  z-index: 906;
  display: none;
  .apos-ui-dropdown-container('before');

  &.open
  {
    display: block;
  }

  li
  {
    .apos-ui-dropdown-item();
  }
}



// --------- BLOCK SPECIFIC STYLES -------------------------- //


[data-new-block]{
	.apos-ui;
	letter-spacing: 0.01em;
}
.apos-block-wrapper
{
	padding: 1px;
}
.apos-block-wrapper:hover
{
	padding: 0px;
	border: 1px dashed rgba(36, 153, 162, 0.8);
}
.apos-block-controls,
.apos-block-group-controls
{
	.apos-ui-container;
	.apos-item-actions;
	.left;
	position: relative;
	//background-color: rgba(0, 0, 0, 0.1);
	top: 0px;
	margin: 0.5em 0;
	opacity: 1;
	//padding-right: 0px;
  z-index: 899;
  &.open
  {
    // When we're open, bring us to the front.
    z-index:901;
  }
	.apos-button:hover
	{
    color: white;
		background-color: darken(rgb(36, 153, 162), 10%);
	}
}

[data-block-handle],[data-remove-block],[data-content-block-menu],[data-new-block]{
	color: white;
	background-color: rgb(36, 153, 162);
	border-radius: 4px;
	margin: 0.05em;
	padding: 0.3em;
  min-width: 1em;
  text-decoration: none;
	i {
		display: inline-block;
		//padding: 0.5em;
	}
}
// [data-content-block-menu]
// {
//   top: -2px;
// }
[data-content-block-menu-options]
{
  position: relative;
  z-index: 903;
}
.apos-button[data-switch-block]
{
  width: 250px; // fix hard code
  //border:  1px solid rgb(36, 153, 162);
}
.show-block-types
{
  height: auto;
}
