// --------- BLOCK SPECIFIC STYLES -------------------------- //
.apos-block-menu-options
{
  position:relative;
  z-index: 906;
  display: none;
  .apos-ui-dropdown-container('before');

  &.open
  {
    display: block;
  }

  li
  {
    .apos-ui-dropdown-item();
  }
}

[data-new-block]{
	.apos-ui;
	letter-spacing: 0.01em;
}
.apos-block-wrapper
{
	padding: 1px;
}
.apos-block-wrapper:hover
{
	padding: 0px;
	border: 1px dashed rgba(36, 153, 162, 0.8);
}
.apos-block-controls,
.apos-block-group-controls
{
	.apos-ui-container;
	.apos-item-actions;
	.left;
	position: relative;
	//background-color: rgba(0, 0, 0, 0.1);
	top: 0px;
	margin: 0.5em 0;
	opacity: 1;
	//padding-right: 0px;
  z-index: 899;
  &.open
  {
    // When we're open, bring us to the front.
    z-index:901;
  }
	.apos-button:hover
	{
    color: white;
		background-color: darken(rgb(36, 153, 162), 10%);
	}
}

[data-block-handle],
[data-remove-block],
[data-content-block-menu],
[data-new-block],
[data-move-block]
{
	color: white;
  position: relative;
	background-color: rgb(36, 153, 162);
  // These two styles were blowing up the [data-content-block-menu].
  // Removing for now. Please re-add with special comments if they're
  // part of your world. --@jsumnersmith
	//border-radius: 4px;
	//margin: 0.05em;
	padding: 0.3em;
  min-width: 1em;
  text-decoration: none;
	i {
		display: inline-block;
		//padding: 0.5em;
	}
}
[data-content-block-menu]
{
  margin-left: 4px;
  margin-bottom: 0;
}
[data-move-block]
{
  margin-left: 0;
}

.apos-block-group
{
  .apos-block-wrapper:first-child
  {
    .apos-ui-move-up
    {
      .apos-disabled-arrow();
    }
  }

  .apos-block-wrapper:last-child
  {
    .apos-ui-move-down
    {
      .apos-disabled-arrow();
    }
  }
}
// [data-block-handle],
// [data-move-block]:first-child
// {
//   border-right: 0;
//   // left: -2px;
// }
// [data-move-block]
// {
//   left: -5px;
//   border-left: 0;
// }
// [data-content-block-menu]
// {
//   top: -2px;
// }
.apos-blocks-menu
{
  display: inline-block;
  .apos-ui-dropdown
  {
    margin-bottom: 0;
    margin-left: 4px;
  }
}
[data-content-block-menu-options]
{
  position: relative;
  z-index: 903;
}
.apos-button[data-switch-block]
{
  width: 250px; // fix hard code
  //border:  1px solid rgb(36, 153, 162);
}
.show-block-types
{
  height: auto;
}
